body {background-color:white} 
h1 {
    color:black;
    font-family: sans-serif;
    border: 3px solid red;
    padding: 20px;
    background-color: salmon;
    text-align: center;
    text-decoration: underline;
}
h2 { 
    color:darkolivegreen;
    border: 2px dotted red;
    padding: 10px;
    background-color: azure;
    text-decoration: underline;
    text-align: center;
}
h3 {
    color: darkgoldenrod;
    border: 2px dotted black;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    text-decoration: underline;
    text-align: center;
}
p   {
    color:blueviolet;
    font-family: 'Times New Roman', Times, serif;

}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    
}